/* import only the necessary Bootstrap files */
@import "functions";
@import "variables";
/* -------begin customization-------- */

$theme-colors: (
  primary: #48B2B1,
  primary-dark: #043939,
  primary-light: #9fdddc,
  secondary: #828385,
  secondary-light: #e8eaf6,
  success: #80D08E,
  info: #acadb0,
  warning: #DDD164,
  danger: #BE0213,
  light: #f5f6fc,
  dark: #1b1b1c,
  accent: #BF56BD
);

/* -------end customization-------- */
/* finally, import Bootstrap to set the changes! */
@import "bootstrap";