<div id="footer" class="container-fluid d-flex flex-column-reverse flex-sm-row justify-content-between align-content-center px-2 py-3 px-md-5">
    <div class="gilroy text-white d-flex justify-content-center justify-content-sm-start align-content-center pt-3 my-3 my-sm-1">
        <a class="text-white cursor-pointer" href="/">Home</a>
        <span class="mx-2 mx-md-5">|</span>
        <a class="text-white cursor-pointer" href="/contact">Contact Us</a>
        <span class="mx-2 mx-md-5">|</span>
        <a class="text-white cursor-pointer" href="/conditions">Terms & Conditions</a>
        <span class="mx-2 mx-md-5">|</span>
        <a class="text-white cursor-pointer" href="/login">Login</a>
    </div>
    <div class="d-flex flex-column">
        <h3 class="mb-3 mb-sm-1 gilroy text-white text-center">Download The App</h3>
        <div class="d-flex justify-content-center">
            <a href="https://itunes.apple.com/us/app/grub-pass/id1363599130?mt=8">
                <img class="px-3" src="{{ url_for('static', filename='img/qr-apple.png') }}" style="width: 140px; align-self: center;">
            </a>
            <a href="https://play.google.com/store/apps/details?id=com.grubpass.crown&hl=en_US">
                <img class="px-3" src="{{ url_for('static', filename='img/qr-google.png') }}" style="width: 140px; align-self: center;">
            </a>
        </div>
    </div>
</div>