
.icon-bundle-bold:before { content: '\e800'; } /* '' */
.icon-clippers:before { content: '\e801'; } /* '' */
.icon-golf-bold:before { content: '\e802'; } /* '' */
.icon-golf:before { content: '\e803'; } /* '' */
.icon-grubpass:before { content: '\e804'; } /* '' */
.icon-clippers-bold:before { content: '\e805'; } /* '' */
.icon-popcorn-bold:before { content: '\e806'; } /* '' */
.icon-popcorn:before { content: '\e807'; } /* '' */
.icon-weight-bold:before { content: '\e80a'; } /* '' */
.icon-weight:before { content: '\e80b'; } /* '' */
.icon-excursion:before { content: '\e80c'; } /* '' */
.icon-excursion-bold:before { content: '\e80e'; } /* '' */
.icon-bundle:before { content: '\e80f'; } /* '' */
.icon-wellness-bold:before { content: '\e810'; } /* '' */
.icon-wellness:before { content: '\e811'; } /* '' */
.icon-grubpass-bold:before { content: '\e812'; } /* '' */